@import "tailwindcss";

@theme inline {
  --color-RedP: #c8593b;
  --color-GreenP: #779985;
  --color-GrayP: #584f4d;
  --font-Vast: "Vast Shadow", serif;
  --font-Golos: "Golos Text", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Golos Text", sans-serif;
}
html{
  scroll-behavior: smooth;
}

.maxW{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2%;
}

.mainBG{
  background-image: url('/main-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.productsBG{
  background-image: url('/about-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.meatsBG{
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
}

  
